@import '../../Utils/Styles/colors.scss';

.tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    >.navigation {
        display: flex;
        align-items: flex-start;
        background-color: $cbtuBlue;
    }
    button {
        color: $backgroundPrimaryColor;
        background-color: $cbtuBlue;
        border: none;
        cursor: pointer;
    }

    .isClickedtrue {
        color: $cbtuBlue;
        background-color: $backgroundPrimaryColor;
        border-radius: 4px 4px 0px 0px;
    }

    .content {
        overflow: hidden;
    }
}