$backgroundPrimaryColor: #FFFFFF;
$backgroundSecondaryColor: #CBD9EB;

$textPrimaryColor: #343A40;
$textSecondaryColor: #758CA5;
$textBlackColor: #023002;
$textInactiveColor: #C5C7D1;
$placeholderColor: #CACCCF;

$inactiveStateColor: #A0A4A8;
$borderAndDividerColor: #E8E8E8;
$disabledBackgroundColor: #D0DBEB;
$blueHover: #F5F8FF;

$actionPrimaryColor: #3F4E68;
$actionSecondaryColor: #FFFFFF;
$cbtuBlue: #051832;
$successColor: #50E3C2;
$warningColor: #DD9304;
$errorColor: #FD003E;
$boderColor: #cadbf2;
