.kilometersPage {
    width: 100%;
    background-color: white;
    .table {
        .line {
            display: grid;
            grid-template-columns: 40% 30% 30%;
            text-align: left;
            border-top: 1px solid #93bd96;
            div:last-of-type {
                text-align: right;
            }
        }
        .tableBody {
            border-bottom: 1px solid #93bd96;
        }
    }
}