.trainPositions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    >button {
        width: fit-content;
        margin-top: 24px;
        cursor: pointer;
    }
}